@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

.left {
  width: 32vw;
  padding: 10px 0px;

}

.right {
  width: 75vw;

}

.home ul li {
  display: flex;
  gap: 15px;
  width: 12px;
  padding: 5px;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  text-align: center;
  align-items: center;
  gap: 3px;
  display: flex;
  padding-top: 10px;
}

.heading h2 {
  font-size: 20px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
 height: 0;
  padding: 10px 0px;
}

.footer a {
  color: gray;
  margin-top: 20px;
}

.right {
  margin: 16px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylist {
  padding: 1px;
  margin-top: 10px;
  position: relative;
}
.spotifyPlaylist h1{
  padding: 10px;
}

.cardContainer {
  display: flex;
  gap: 10px;
  margin: 30px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.card:hover{
  background-color: rgb(57, 55, 55);
  cursor: pointer;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card > * {
  padding-top: 10px;
}

.play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1fdf64;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  right: 17px;
  top: 161px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card:hover > .play {
  opacity: 1;
}

.signupbtn {
  font-weight: bold;
  background-color: #252525;
  color: rgb(127, 121, 121);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.buttons > * {
  margin: 0 6px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 21px;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
}
.loginbtn:hover {
  background-color: rgb(224, 217, 217);
  font-weight: bold;
  font-size: 17px;
}

.playbar {
  position: fixed;
  bottom: 6px;
  filter: invert(1);
  /* right: 5px; */
  background-color: #dad5d5;
  width: calc(85vw - 254px);
  height: 43px;
  border-radius: 18px;
  padding: 5px;
}

.songbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.songlist {
  height: 644px;
  overflow: auto;
  margin-bottom: 44px 0;
}
/* .songlist ul {
   /* padding: 10px; */
/* }  */
.songlist ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  padding: 12px 0;
  cursor: pointer;
  border: 1px solid white;
  margin: 13px 0;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
}
.playnow span {
  width: 64px;
  font-size: 15px;
  padding: 12px;
}
.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.songlist .info {
  font-size: 13px;
  width: 344px;
}
.info div{
  word-break: break-all;
}
.seekbar {
  width: 98%;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}
.songbtn {
  cursor: pointer;
  position: fixed;
  left: 45%;
}
.songinfo,
.songtime {
  color: black;
  padding: 10px;
}
.bar {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:1191px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.5s;
    z-index: 1;
    width: 370px;
    padding: 0;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: 98vw;
    /* left: 0; */
    padding: 50px;
    font-size: 17px;
  }

  .hamburger {
    /* display: none; */
  }
  .songbtn {  
    cursor: pointer;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 6px;
  }
  .songinfo .songtime{
    width: auto;
  }

  .card {
    width: 90vw;
  }
  .bar {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    top: -35px;
    right: 39px;
  }
.volume {
    position: absolute;
    top: 72px;
    left: 7px;
    right: 0;
}
  .cardContainer {
    margin: 0;
    justify-content: center;
  }
}
.left .close {
  position: absolute;
  right: 31px;
  top: 25px;
  cursor: pointer;
  width: 29px;
}
.hamburgerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.volume{
  position: absolute;
    /* top: 11px; */
    /* left: 163px; */
    right: 69px;
}
.volumeinfo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.range{
  margin: -12px;
  padding-right: 50px;
}
@media screen  and (max-width: 456px) {
  .card{
    width: 90vw;
  }
}